@use '../custom' as *;

@mixin bgImage($color, $url) {
    background-image: linear-gradient(transparentize($color, .3) 0%, transparentize($color, .3) 100%), url($url);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

@mixin txtSubrayado($colorTxt, $colorLine) {
    color: $colorTxt;
    display: inline-block;

    &::after {
        content: '';
        display: block;
        width: 100%;
        background-color: $colorLine;
        height: 1rem;
        margin-top: -1.4rem;
    }
}