<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Ignorar archivos y carpetas existentes
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Enviar todo a index.php
    RewriteRule ^ index.php [QSA,L]
</IfModule>