@use '../custom' as *;
@use 'utils/mixins' as m;

.webp .banner-contacto {
    @include m.bgImage($dark, '../img/banner-contacto.webp')
}

.no-webp .banner-contacto {
    @include m.bgImage($dark, '../img/banner-contacto.jpg')
}

.banner-contacto {
    height: 40rem;

    @include media-breakpoint-up(md) {
        height: 100vh;
        max-height: 90rem;
    }
}


dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    width: 50dvw;
    z-index: 1;
}


dialog:open {
    background-color: $dark;
    color: $light;
    border: none;
}
